#bartoDiminish {
  z-index: 2;
  width: 100%;
  height: inherit;
  transition: background-color 1s ease-in;
  border-radius: 25px;
}

.good {
  background-color: green;
}

.middle {
  background-color: orange;
}

.danger {
  background-color: red;
}

#bartoReveal {
  z-index: 1;
  width: 200px;
  height: 10px;
  position: relative;
  background-color: grey;
  top: 120%;
  margin: 0 auto;
  border-radius: 25px;
}
