.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#parent_container {
  height: 100vh;
}

#description_container {
  grid-area: d;
  background-color: #7649fe;
}

#title_container {
  grid-area: t;
  background-color: #1d1135;
  color: #fcfbfe;
  font-family: Arial, Helvetica, sans-serif;
}

/* use canvas to make some cool background */
