.grid_container {
  height: 100vh;
  display: grid;
  grid-template: 0fr 10fr 0fr / repeat(12, 1fr);
  grid-template-areas:
    "t t t t t t t t t t t t"
    "g g g g g g g g g g g g"
    "d d d d d d d d d d d d";
}

.grid_item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#parent_container {
  grid-area: g;
}

#description_container {
  grid-area: d;
  background-color: #7649fe;
}

#title_container {
  grid-area: t;
  background-color: #1d1135;
  color: #fcfbfe;
  font-family: Arial, Helvetica, sans-serif;
}

/* use canvas to make some cool background */
